.profile-text {
    display: none;
}

.profile-img {
    width: 55px;
    border-radius: 50%;
}

lable {
    width: fit-content;
    position: relative;
    left: 103%;
    /* top: -40px; */
    bottom: 40px;
    height: 0;
    display: none;
  }
  .happening-now {
    background-color: #efefef;
    border-radius: 15px;
  }
  .section-one {
    display: flex;
    margin-top: 30px;
    position: relative;
  }
  .section-one div {
    width: 100%;
  }
  .section-one img {
    width: 200px;
    position: absolute;
    right: 15px;
    bottom: 40px;
  }
  form {
    background: linear-gradient(90deg, #ffede1 12%, #afcbff, #d7f9ff);
    border-radius: 30px;
    width: 65%;
    padding: 30px 25px 15px;
    margin-bottom: 30px;
    position: relative;
  }
  .form-section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-bg{
    background-color: #fff;
    border-radius: 30px;
  }
  form h4 {
    
    margin-bottom: 15px;
    font-size: 20px;
    background: #fff;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    border-radius: 15px;
    font-size: 54px;
    background: linear-gradient(90deg, #ffede1 12%, #afcbff, #d7f9ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #979797;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    
  }
  fieldset input {
    border-radius: 20px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 3px solid #efefef;
    font-size: 14px;
    outline: none;
  }
  ::-webkit-input-placeholder {
    color: #b4b4b4;
  }
  fieldset select {
    border-radius: 20px;
    border: 3px solid #efefef;
    padding: 5px 10px;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
  }
  .chap select{
    padding: 10px;
  }
  select option {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    color: #0e1c36;
  }
  form button {
    border: 3px solid #efefef;
    padding: 8px 6px;
    background-color: #fff;
    width: 160px;
    border-radius: 22px;
    font-size: 14px;
    color: #1eaaf1;
  }
  form button:hover {
    background: linear-gradient(90deg, #ffede1, #afcbff, #d7f9ff);
    color: #0e1c36;
    font-weight: bold;
  }
  #btn-div {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  form p {
    font-size: 14px;
    margin: 10px 0;
    text-align: center;
  }
  form span {
    color: #1eaaf1;
    font-weight: 600;
  }
.form-section a{
color: #1eaaf1;
font-weight: bold;
}
.form-section a:hover{
  color: #0E1C36;
}
.view-password{
  right: 55px;
  width: auto;
  top: 210px;
  position: absolute;
  /* border-radius: 30px; */
  border: none;
  background-color: transparent;
  outline: none;

}
.view-password:hover{
  background: none;
}
.view-password:active{
  color: #0e1c36;
}
.image-section img{
    width: 75%;
}

.chapter-name{
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
.chapter-name i{
  font-size: 14px;
}
.chapter{
  width: 100% !important;
}
/* .chapter input{
  width: 100%;
} */
.chapter:placeholder-shown{
  font-size: 10px;
}

.first{
  display: flex;
  width: 95% !important;
  justify-content: space-between;
}
.number{
  width: 70%;
}
.degree{
  width: 25%;
}
.quest-type{
  border-radius: 15px;
}
.quest-type h4{
  font-size: 26px;
  margin: 0;
  padding: 10px;
  text-align: left;
}
.form-check-input{
  padding: 10px;
  margin-bottom: 0;
}
label{
  font-size: 20px;
  
}
.form-check-input:checked + label {
  font-weight: bold;
}
.type-input-fields{
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  padding: 20px;
  border-radius: 0 0 15px 15px;
}

.type{
  text-align: left;
  width: 48% !important;
  padding: 15px;
  background-color: #fff;
  border-radius: 15px;
}
.question-type-setting{
  display: flex;
  justify-content: space-between;
  margin-top: 15px;

}
.type-heading{
  background-color: #efefef;
  border-radius: 15px 15px 0 0;
  padding: 15px;
  margin-bottom: 15px;
}
.create-btn{
  margin-top: 30px;
}
.quest-mcq input:disabled{
  background-color: hsla(0, 0%, 98%, 0.842);
}

.quest-tf input:disabled{
  background-color: hsla(0, 0%, 98%, 0.842);
}




@media (max-width:530px) {
  .first{
    display: flex;
    width: 95% !important;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .number{
    width: 100%;
  }
  .degree{
    width: 100%;
  }
}

  @media (max-width:1300px) {
      form{
          width: 90%;
      }
      .section-one img{
        display: none;
      }
  }
  @media (max-width: 1024px) {
    .section-one {
      flex-wrap: wrap;
      justify-content: center;
    }
    .section-one div {
      width: 100%;
    }
    .image-section img {
      width: 55%;
      margin-bottom: 30px;
    }
    
    form h4{
      font-size: 46px;
    }
  }
  @media (max-width: 768px) {
    form {
      width: auto;
    }
    .navbar-brand {
      left: 18px
  }
  form h4{
    font-size: 36px;
  }
  .section-one {
    padding: 15px;
    margin-top: 0;
  }
  .type{
    width: 100% !important;
  }
  .question-type-setting{
    flex-wrap: wrap;
  }
  .true-false{
    margin-top: 15px;
  }
  }
  @media (max-width: 440px) {

    form {
      padding: 30px 20px 0 20px;
    }
    .image-section img {
      width: 100%;
    }
    ::-webkit-input-placeholder {
      font-size: 12px;
    }
    fieldset input {
      font-size: 12px;
    }
    .view-password{
      top:200px;
      right: 28px;
    }
    .create{
      margin-top: 15px;
    }
    label{
      font-size: 18px;
    }
  }


@media (max-width:992px) {
    .profile-text {
        display: inline-block;
    }
    .profile-img {
        width: 30px;
    }
}


