@import url('https://fonts.googleapis.com/css2?family=Freehand&display=swap');
.landing {
    display: flex;
    flex-wrap: wrap;
}

.landing div {
    width: 50%;
    padding: 107px 55px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qoute p {
    text-align: left;
}

.qoute span {
    font-family: 'Freehand', cursive;;
    width: 100%;
    text-align: right;
}

.info button {
    font-size: 14px;
    background-color: #fff;
    border: 3px solid #afcbff;
    color: #1eaaf1;
    border-radius: 5px;
    padding: 7px 15px;
}

.qoute {
    background-color: #ffede1;
}

.info {
    background-color: #d7f9ff;
}

.mission h2 {
    position: relative;
    bottom: 10px;
}

.mission p {
    font-size: 18px;
    text-align: justify;
    color: #797979;
    line-height: 30px;
}

.sleepy-img img {
    width: 536px;
    height: 363px;
}

.section-two div {
    width: 50%;
    padding: 0 55px;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.section-two {
    padding: 0 86px;
}

.section-three {
    background-color: #64c0bf;
}

.vision {
    color: #fff;
    padding: 0 0 0 122px;
}

.vision p {
    color: #fff;
}

.section-three .sleepy-img {
    padding: 0;
}

.section-four {
    text-align: left;
    padding: 107px 124px;
}

.section-four p {
    letter-spacing: 1.5px;
    text-align: justify;
    line-height: 30px;
    color: #797979;
}

.section-four img {
    width: 575px;
}

.about-part-two {
    display: flex;
}

footer p {
    margin-bottom: 0;
}

footer {
    padding: 10px;
    background-color: #d7f9ff;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

@media (max-width: 1200px) {
    .section-four {
        text-align: left;
        padding: 107px 23px;
    }
}

@media (max-width: 991px) {
    .about-part-two {
        flex-wrap: wrap;
    }

    .section-four {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .section-four img {
        width: 415px;
    }

    .img-class {
        width: 100%;
        text-align: center;
    }

    .navbar-collapse {
        align-items: center;
        border: 5px solid #efefef;
        border-radius: 30px;
        margin-top: 20px;
        margin-left: 15px;
        margin-right: 15px;
    }

    .nav {
        flex-direction: column;
    }

    .nav button {
        box-shadow: none;
    }
}

@media (max-width: 1024px) {
    .sleepy-img img {
        width: 363px;
        height: 315px;
    }

    .sleepy-img {
        padding: 0;
    }

    .section-two {
        padding: 20px;
    }

    .section-two div {
        padding: 0;
            margin-top: 20px;
    }
}

@media (max-width: 768px) {
    .landing div {
        width: 100%;
    }

    .section-two div {
        width: 100%;
        align-items: center;
    }

    .section-four {
        padding: 33px 23px;
    }

    .section-four {
        text-align: center;
    }

}

@media (max-width: 510px) {
    .section-four img {
        width: 245px;
    }

    .navbar-brand {
        left: 20px
    }
    .qoute span {
        font-size: 14px;
    }
}